{% extends "base_form_page.html" %}
{% block title %}Титульник{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          {% block card-header %}
            Голова
          {% endblock %}
        </div>
        <div class="card-body">
          {% include 'includes/form_error.html' %}
          {% block card-body %}
            мяу
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}